<mat-progress-bar *ngIf="loadingService.isLoading$ | async" mode="indeterminate"></mat-progress-bar>
<div class="notifications">
  <span class="notification"
        [style.backgroundColor]="notification.type === NotificationType.ERROR ? 'red' : 'green'"
        *ngFor="let notification of notifications$ | async">
    {{ notification.message }}
  </span>
</div>
<div class="app">
  <div class="wrapper">
    <div class="header">
      <img [routerLink]="['/']" alt="logo" class="logo" src="assets/logo.png"/>
      <div
        *ngIf="isLoggedIn$ | async"
        class="user">
        <ng-container *ngIf="userDetails$ | async as userDetails">
          <div class="user__details">
            <span>{{userDetails.firstName}} {{userDetails.lastName}}</span>
          </div>
          <cbutton icon="logout" text="Log Out" (click)="logout()"></cbutton>
        </ng-container>
      </div>
    </div>
    <div class="page-content">
      <nav class="tabs">
        <ul class="nav" id="nav">
          <li class="nav__item"
              *ngIf="!(isLoggedIn$ | async)">
            <nav-item
              icon="login"
              [selected]="isSelected(Tabs.LOGIN)"
              [routerLink]="['login']">
              Log In
            </nav-item>
          </li>
          <li class="nav__item"
              *ngIf="!(isLoggedIn$ | async)">
            <nav-item
              icon="how_to_register"
              [selected]="isSelected(Tabs.REGISTER)"
              [routerLink]="['register']">
              Register
            </nav-item>
          </li>
          <li class="nav__item"
              *ngIf="isLoggedIn$ | async">
            <nav-item
              icon="home"
              [selected]="isSelected(Tabs.HOME)"
              [routerLink]="['home']">
              Home
            </nav-item>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
