<div class="home" *ngIf="userDetails">
  <div *ngFor="let category of categories; index as i" class="category">
    <div class="category__header">
      <div class="category__circle color-{{i % 3}}">
        {{category.toUpperCase()[0]}}
      </div>
      <span>{{category | titlecase}}</span>
    </div>
    <div class="category__videos">
      <div *ngFor="let video of getVideosByCategory(category)" class="category__videos--video" (click)="playVideo(video)">
        <ng-container>
          <img src="{{video.thumbnail}}" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
