<div class="home" *ngIf="userDetails">
  <ng-container *ngIf="!userDetails.banned; else banned">
    <div *ngFor="let category of categories; index as i" class="category">
      <div class="category__header">
        <div class="category__circle color-{{i % 3}}">
          {{category.toUpperCase()[0]}}
        </div>
        <span>{{category | titlecase}}</span>
      </div>
      <div class="category__videos">
        <div *ngFor="let video of getVideosByCategory(category)" class="category__videos--video"
             (click)="playVideo(video)">
          <ng-container>
            <img src="{{video.thumbnail}}"/>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #banned>
  <div class="banned">
    You are banned from this service since you broke the rules of copyright infringement.
    <mat-icon>block</mat-icon>
  </div>
</ng-template>
